* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(
    90deg,
    rgba(119, 181, 159, 1) 0%,
    rgba(23, 98, 72, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  text-shadow: 0.7px 0.7px darkgray;
  padding: 0 0 1.5em 0;
}

header {
  flex-grow: 3;
  width: 100%;
}

header h1 {
  color: white;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.8);
  font-size: 3rem;
}

#btn {
  display: flex;
  width: 80px;
  height: 80px;
  background-color: rgba(23, 98, 72, 1);
  top: 7px;
  left: 7px;
  position: fixed;
  flex-direction: column;
  border-radius: 50%;
}

#btn a {
  flex-grow: 1;
  text-align: center;
  padding-top: 1.5rem;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

main {
  background-color: white;
  justify-self: center;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 3px 3px darkgray;
}

article {
  padding: 3rem 5em 3rem 5em;
  flex-grow: 3;
}

article p {
  padding-bottom: 1em;
}

article h2 {
  padding-bottom: 1.5rem;
}
article p:nth-child(4) {
  padding-bottom: 0.8rem;
}

article ul:nth-child(1) {
  padding-left: 1rem;
}

article ul {
  padding-bottom: 1.3em;
}
article ul li {
  list-style: none;
}

footer {
  height: 5em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  font-weight: 900;
  color: white;
}

@media (max-width: 400px) {
  header h1 {
    font-size: 5rem;
  }
  main {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
  }
  h2 {
    font-size: 2rem;
  }
  p {
    font-size: 1.3rem;
  }

  ul li {
    font-size: 1.3rem;
  }
  footer {
    padding: 1em 0 1em 0;
  }
}

@media (max-device-width: 400px) {
  header h1 {
    font-size: 5em;
  }
  main {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
  }
  h2 {
    font-size: 2rem;
  }
  p {
    font-size: 1.3rem;
  }

  ul li {
    font-size: 1.3rem;
  }
  footer {
    padding: 1em 0 1em 0;
  }
  footer p {
    font-size: 2.2rem;
  }
  #btn {
    width: 7em;
    height: 7em;
  }

  #btn a {
    font-size: 2em;
  }
}
