body {
  margin: 0px;
}

#mainSection {
  background-image: url("../img/pexels-bruno-mancini-3852288.jpg");
  margin: 0px;
  background-position: 0px 0px;
  background-size: cover;
}

a {
  text-decoration: none;
  color: black;
}

#leftBar {
  height: 800px;
  width: 350px;
  background-color: #6edec9;
  opacity: 75%;
  margin: 0px;
}
#photo {
  margin-top: 25px;
  opacity: 100%;
  width: 150px;
  border-radius: 50%;
}

#bio,
#menu {
  text-align: center;
}

#menu {
  margin-top: 25%;
  display: block;
}

#emailContainer {
  display: inline-block;
}
ul {
  list-style: none;
  padding: 0px;
}

.menuItem {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  opacity: 100%;
  color: black;
  font-size: 25px;
}

.menuItem:hover {
  color: azure;
}

#leftBar:hover {
  opacity: 85%;
}

#socialMedia {
  margin-top: 30%;
  font-weight: bold;
}

#emailIcon {
  text-align: right;
  width: 25px;
  height: 25px;
}

#linkedinIcon {
  text-align: right;
  width: 25px;
  height: 25px;
}

#linkedinIcon,
#emailIcon {
  padding-left: 100px;
}

footer {
  background-color: darkgray;
  display: table;
  height: 50px;
  width: 100%;
  opacity: 75%;
  text-align: center;
}

#footerText {
  font-weight: bold;
  display: table-cell;
  vertical-align: middle;
}
